<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>TODOアプリ</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <h1>TODO管理</h1>
        <hr class="mb-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register">新規登録</button>
        <div th:if="${resultMsg != null}" class="mt-2">
            <div th:text="${resultMsg}" class="alert alert-success" role="alert"></div>
        </div>
        <div th:unless="${todoList.size() > 0}" class="mt-2">
            TODOが登録されていません。
        </div>
        <div th:if="${todoList.size() > 0}" class="table-responsive-md mt-2">
            <table class="table table-striped table-hover">
                <tr>
                    <th scope="col">タイトル</th>
                    <th scope="col">説明</th>
                    <th scope="col">期限</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                <tr th:each="todo : ${todoList}">
                    <td class="col-xs-3" th:text="${todo.title}"></td>
                    <td class="col-xs-5" th:text="${todo.description}"></td>
                    <td class="col-xs-2" th:text="${#temporals.format(todo.limitTime, 'yyyy年MM月dd日')}"></td>
                    <td class="col-xs-1">
                        <input type="hidden" class="id" th:value="${todo.id}"/>
                        <button class="btn btn-danger btn-sm todo-delete" >削除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="register" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="registerLabel">TODO登録</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form th:action="@{/register}" method="POST" th:object="${todoForm}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">タイトル</label>
                            <input type="text" th:field="*{title}" class="form-control col-5" id="title">
                        </div>
                        <div class="form-group">
                            <label for="description">説明</label>
                            <input type="text" th:field="*{description}" class="form-control" id="description">
                        </div>
                        <div class="form-group">
                            <label for="limit">期限</label>
                            <input type="date" th:field="*{limit}" class="form-control col-5" id="limit">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form name="deleteForm" th:action="@{/delete}" method="POST" >
        <input type="hidden" id="deleteId" name="id"/>
        <input type="submit" style="display:none;"/>
    </form>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.5.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/todo.js}"></script>
</body>
</html>